<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">Terrenos</a>
    <ul class="nav-list">
      <li class="nav-item">
        <a [routerLink]="['/posts']" class="nav-link"
          ><fa-icon [icon]="faHome"></fa-icon
        ></a>
      </li>
      <ng-container *ngIf="user$ | async; else loading">
        <li class="nav-item">
          <a [routerLink]="['/posts/create']" class="nav-link"
            ><fa-icon [icon]="faPenToSquare"></fa-icon
          ></a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/auth/profile']" class="nav-link"
            ><fa-icon [icon]="faUser"></fa-icon
          ></a>
        </li>
      </ng-container>

      <ng-template #loading>
        <li class="nav-item">
          <span class="nav-link">...</span>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
