<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
  <div class="post-form">
    <app-file-slider-input
      class="photos"
      (change)="setFiles($event)"
    ></app-file-slider-input>
    <div class="mains mt-3 mt-md-0">
      <div class="mb-3">
        <label for="title">Título</label>
        <input
          id="ngClass"
          name="ngClass"
          ype="text"
          class="form-control"
          formControlName="title"
          [ngClass]="{ 'is-invalid': postForm.controls.title.invalid }"
          required
        />
        <span class="d-block mt-1" *ngIf="postForm.controls.title.value"
          >URL: {{ slugify(postForm.controls.title.value) }}</span
        >
        <span
          class="invalid-feedback"
          *ngIf="postForm.controls.title.errors?.['required']"
          >Es necesario un título</span
        >
      </div>
      <div class="mb-3">
        <label for="title">Descripción</label>
        <textarea
          id="description"
          name="description"
          class="form-control"
          formControlName="description"
          [ngClass]="{ 'is-invalid': postForm.controls.description.invalid }"
          required
        ></textarea>
        <span
          class="invalid-feedback"
          *ngIf="postForm.controls.description.errors?.['required']"
          >Por favor ingrese una descripción corta</span
        >
      </div>
      <div class="mb-3">
        <label for="title">Dirección</label>
        <ng-container [formGroup]="postForm.controls.ubication">
          <input
            id="country"
            name="country"
            type="text"
            class="form-control"
            value="PE"
            [ngClass]="{
              'is-invalid': postForm.controls.ubication.controls.country.invalid
            }"
            required
          />
          <select
            name="city"
            id="city"
            formControlName="city"
            class="form-select"
          >
            <option *ngFor="let value of cities" [value]="value.city">
              {{ value.city }}
            </option>
          </select>
          <input
            id="aveneu"
            name="aveneu"
            type="text"
            class="form-control"
            formControlName="aveneu"
            [ngClass]="{
              'is-invalid': postForm.controls.ubication.controls.aveneu.invalid
            }"
            required
          />
          <span
            class="invalid-feedback"
            *ngIf="postForm.controls.ubication.controls.aveneu.errors?.['required']"
            >Es necesaria la dirección</span
          >
        </ng-container>
      </div>
      <div class="mb-3">
        <label for="price">Precio</label>
        <ng-container [formGroup]="postForm.controls.prices">
          <div class="price">
            <select
              name="currency"
              id="currency"
              formControlName="currency"
              class="form-select"
            >
              <option *ngFor="let value of currencies" [value]="value">
                {{ value }}
              </option>
            </select>
            <input
              type="number"
              id="cost"
              name="cost"
              class="form-control"
              formControlName="cost"
              [ngClass]="{
                'is-invalid': postForm.controls.prices.controls.cost.invalid
              }"
              required
            />
          </div>
        </ng-container>
        <span
          class="invalid-feedback"
          *ngIf="postForm.controls.prices.errors?.['required']"
          >Es necesario introducir un precio</span
        >
      </div>
    </div>
    <div class="mb-3 features">
      <app-create-feature-form
        (submit)="setFeatures($event)"
      ></app-create-feature-form>
    </div>
  </div>
  <div class="post-actions">
    <button type="button" class="btn btn-primary" (click)="open(content)">
      Publicar
    </button>
    <button type="button" class="btn btn-secondary ms-2">Descartar</button>
  </div>
</form>

<ng-template #content let-modal>
  <div class="modal-header">
    <h3>Estás seguro de publicar ?</h3>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-dark" (click)="modal.dismiss()">
      Cancelar
    </button>
    <button class="btn btn-primary" (click)="modal.close(true)">Sí</button>
  </div>
</ng-template>
