<article class="card">
  <ngb-carousel class="card-image-top">
    <ng-template *ngFor="let p of previews | async" ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="image" [src]="p" [alt]="post.title" loading="lazy" />
      </div>
    </ng-template>
  </ngb-carousel>
  <div class="card-body">
    <header class="header">
      <h1 class="fs-2 fw-bold title">{{ post.title }}</h1>
      <p class="fw-lighter address">{{ post.ubication.avenue }}</p>
    </header>
    <p class="description">{{ post.description }}</p>
    <footer class="footer">
      <p class="fw-lighter timestamp">
        Creado el {{ post.createdAt | date : "shortDate" }}
      </p>
      <a [routerLink]="['/posts', post.id]" class="btn btn-primary view-more"
        >Ver más</a
      >
    </footer>
  </div>
</article>
